:root{
    --background1: #FFFFFF;
    --background2: #f9fafb;
    --accentcolor: #596d48;
    --button-color: white;
}

*{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0 0 16px 0 ;
}

p{
    margin: 0 0 16px 0;
}

body{
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: stretch;
}




#img-div{
    display: flex;
    flex-grow: 1;
    background-color: bisque;
    max-width: 550px;
}

#content-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background2);
}

img{
    width: auto;
    height: auto;
    max-width: 600px;
    width: calc(40vw);
}





.content{
    padding:  16px 48px 32px 48px;
}

#hero-div{

}

#form-div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .2);
    background-color: var(--background1);
    margin-bottom: 16px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#button-div{

}

.row-div{
    display: flex;
    gap: 70px;
}

.input{
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--accentcolor);
    color: var(--button-color);
    border-radius: 10px;
    border-style: none;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
}

